{% extends 'base.html' %}

{% block title %}PikaIQ | Test{% endblock title %}
{% block link %}
<link rel="stylesheet" href="{{url_for('tests.static', filename= 'css/tests.css')}}">
{% endblock link %}
{% block content %}

    <header>
        
        <img src="{{ url_for('core.static', filename= 'images/logo/logo.png') }}" class="main_icon">



        <p class="LogoText">Pikaiq</p>
        <div class="nameUsername">

            {% if current_user.is_authenticated %}
                <img src="{{avatar_filepath}}" class = "user_avatar">
                
                <p class="username">{{ current_user.login }}</p>
            
            {% else %}

                <p class="username">Name</p>
                <p class="username">Second name</p>
            {% endif %}
        </div>
 

</header>

    <div class="settings">
        <div class="left">

            <div id = "multiple-choice">
                <a href="/"><button type ="button">🢐</button></a>
                <img src="/tests/static/images/Frame 179.svg" alt="■">
                <span>multiple choice</span>
            </div>
        </div>

        <div class="questions-numbers">
            <button class="quest-number" onclick="changeQuest(1)">1</button>
        </div>

        <div class="right">
            <button type="button" id="add-question" onclick="addQuestion()">Add question</button>
        </div>
    </div>
    <form id="quiz_1">
        <div class="content content1">
            <div class="main-content">
                <div class="question">
                    <input type="file" class="addImageInputQuestion" id="inputImageQuestion">
                    <label for="inputImageQuestion" class = "addImageBtnQuestion"><img src="/tests/static/images/add_image.svg" alt="■" class = "addImageLogo"></label>

                    <input type="text" placeholder="Enter text of a question" name="question_text" id = "question_text" >
                    <span id="number-quest">question 1</span>
                </div>
    
                <div class="necessary">
                    <div class="answer" id="answer1">
                        <input type="checkbox" value="1" name = "correct_answer[]" id="checkbox" class="correct_answer">
                        <input type="file" class="addImageInput" id="inputImage1">
                        <label for="inputImage1" class = "addImageBtn"><img src="/tests/static/images/add_image.svg" alt="■" class = "addImageLogo"></label>
                        <input type="text" placeholder="Enter an answer" id="answer_input" name="answer[]">
                    </div>
                    <div class="answer" id="answer2">
                        <input type="file" class="addImageInput" id="inputImage2">
                        <input type="checkbox" value="2" name = "correct_answer[]" id="checkbox" class="correct_answer">
                        <label for="inputImage2" class = "addImageBtn"><img src="/tests/static/images/add_image.svg" alt="■" class = "addImageLogo"></label>
                        <input type="text" placeholder="Enter an answer" name="answer[]">
                    </div>
                </div>

                <div class="additional">
                    <button id = "plus" type="button" onclick="addAnswer()">
                            <span>+</span>
                    </button>
                </div>
            </div>
            <input type="file" accept="image/*" id="file" style="display: none;">
            </div>
        </div>
    </form>

    <script src="/tests/static/js/tests.js"></script>
{% endblock content %}

