{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block link %}<link rel="stylesheet" href="{{url_for('user_profile.static', filename= 'css/profile.css')}}">{% endblock %}



{% block content %} 
<header>
        
        <img src="{{ url_for('core.static', filename= 'images/logo/logo.png') }}">


        <div class="nameBurger">
            <p class="LogoText">Pikaiq</p>
            <div class="rightMenu">
                <div class="nameUsername">
                    {% if current_user.is_authenticated %}
                    
                        <p class="username">{{ current_user.login }}</p>
                    
                    {% else %}

                        <p class="username">Name</p>
                        <p class="username">Second name</p>
                    {% endif %}
                </div>
                <div class="burgerMenu">
                    
                    <img src="{{ url_for('core.static', filename= 'images/burger/burger.png') }}">
                </div>
            </div>
        </div>

</header>

<main> 
    <form method = "post" enctype="multipart/form-data">
        <p>Username:<input type="text" name = "username" required placeholder="{{current_user.login}}" value="{{current_user.login}}"></p>
        <p>Gmail:<input type="email" name = "gmail" required placeholder="{{current_user.email}}" value="{{current_user.email}}"></p>
        <p>password:<input type="password" required name = "password" placeholder="{{current_user.password}}" value="{{current_user.password}}"></p>
        <button>submit</button>
    </form>
</main>
{% endblock %}
