* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GreatVibe;
    src: url(fonts/GreatVibe.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}

body{
    display: flex;
    padding-top: 7vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0F8FF;
    overflow-x: hidden;
    gap:2vh;
}


body * {
    font-family: Jost;
}

input{
    background-color: #FFFFFF;
    border: none;
    border-radius: 2vh;
    width: 34.1vw;
    height: 6.2vh;
    font-size: 2.4vh;
    text-align: left;
    color: black;
    padding-left: 1.6vw;
}
input::placeholder{
    color: #000000;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.avatar span{
    margin-left: 1vw;;
    font-size: 3vh;
}

.form-container {
    background-color: #5DE3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47.1vh;
    width: 37.7vw;
    border-radius: 2vh;
    margin: 2vh 0vw 2vh 0vw;
    gap: 3vh;
}

.form-container2{
    background-color: #5DE3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18.6vh;
    width: 37.7vw;
    border-radius: 2vh;
    margin: 2vh 0vw 2vh 0vw;
    gap: 3vh;
}


.container {
    background-color: #0085C9;
    width: 37.7vw;
    color: #FFFFFF;
    height: 7.3vh;
    border: none;
    border-radius: 2vh;
    font-size: 3.5vh;
}

.container:hover {
    background-color: #06549c;
}

.header {
    display: flex;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    justify-content: center;
    gap: 2vw;
}

.header img {
    width: 4vw;
    height: 4vw;
}


.avatar{
    width: 34.1vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar button{
    width: 4vw;
    height: 6.4vh;
    border-radius: 1vh;
    border: none;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 0.5vw;
}
.avatar button:hover{
    background-color: #cfcfcf;
}

#text{
    color: #0085C9;
    font-size: 2.5vh;
}
#log-in{
    color: #00BBFF;
}

#form-container{
    width: 18,6vh;
}