*{
    margin: 0vh;
    padding: 0vh;
}

@font-face {
    font-family: GreatVibe;
    src: url(fonts/GreatVibe.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF;
    overflow: hidden;
}

body * {
    font-family: Jost;
}


/*  */
header {
    width: 100vw;
    background-color: #5DE3E3;
    height: 74px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid black;
    display: flex;
    gap: 42vw;
}

header img {
    height: 55px;
}

header .nameBurger .LogoText {
    font-size: 36px;
    letter-spacing: 15px;
    font-family: GreatVibe;
}

header .nameBurger {
    width: 175px;
    height: 58px;
    display: flex;
    align-items: center;
    gap: 600px;
}

header .nameBurger .nameUsername {
    background-color: white;
    border-radius: 11px;
    width: 163px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 7px;
}

header .nameBurger .nameUsername p {
    width: 100px;
    font-size: 17px;
}

header .nameBurger .burgerMenu {
    width: 46px;
    height: 46px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

header .nameBurger .burgerMenu img {
    width: 24px;
    height: 24px;
}

header .nameBurger .rightMenu {
    display: flex;
    gap: 10px;
    align-items: center;
}

/*  */

.student{
    flex: 0 0 auto; 
    display: flex;
    justify-content: space-between;
    width: 38.8vw;
    height: 5.4vh;
    background-color: #FFFFFF;
    border-radius: 1.2vh;
    overflow: hidden;
    margin-top: 2vh;
    padding-left: 1vw;
    box-shadow: 0 0.1em 0.3em rgb(117, 138, 141);
}

.student div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 16vw;
    font-size: 2vh;
}

#right{
    justify-content: end;

}

#right-answers, #average{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.6vw;
    height: 3.4vh;
    margin-right: 1vw;
    border-radius: 0.8vh;
    box-shadow: 0 0.1em 0.3em rgb(117, 138, 141);
}
#right-answers{
    background-color: #0085C9;
}

#average{
    background-color: #5DE3E3;
}
#score{
    margin-top: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5DE3E3;
    width: 20.8vw;
    height: 23vh;
    gap: 1vh;
    border-radius: 2vh;
    border: 0.2vh solid black;
    box-shadow: 0 0.15em 0.35em rgb(117, 138, 141);
}

#average-score, #students{
    background-color: #FFFFFF;
    width: 16.6vw;
    height: 6.5vh;
    border-radius: 2vh;
    box-shadow: 0 0.14em 0.5em rgb(117, 138, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    overflow: hidden;
}

#average-score{
    background-image: linear-gradient(to right, #35D74D var(--percent, 40%), white var(--percent, 0%));
}

#students-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 2vh;
    background-color: #5DE3E3;
    width: 43.5vw;
    height: 50vh;
    border: 0.2vh solid black;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 1vh;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(164, 255, 250, 0.801);
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 70%;
    background: rgb(178, 255, 251);
}