@font-face {
    font-family: Jost;
    src: url(fonts/Jost.ttf);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0vh;
    overflow: hidden;
}

*{
    margin: 0vh;
    padding: 0vh;
    font-family: Jost;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 21.5vw;
    align-items: center;
    height: 7vh;
    width: 100vw;
    border-bottom: 1px inset black;
    overflow: hidden;
    margin-bottom: 7vh;
}

.search{
    background-color: white;
    width: 37.7vw;
    height: 5.8vh;
    border-radius: 2vw;
    border: 1px inset black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    gap: 1vw;
    padding: 0vh 0vw 0vh 0.4vw;
    box-shadow: 0px 0.3vh 0.7vh rgba(165, 165, 165, 0.3);
}

.search input{
    width: 35vw;
    height: 5.8vh;
    border: none;
    outline: none;
    font-size: 2.4vh;
}

.search input::placeholder{
    font-size: 2.4vh;
    color: black;
    opacity: 0.2;
    text-align: center;
}


.quiz-name span, .left-quiz div{
    width: 8.3vw;
}

.left-quiz div{
    display: flex;
    justify-content: end;
}

.quiz-name span{
    font-size: 3.2vh;
}

.test-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5AB9EA;
    width: 13.4vw;
    height: 10vh;
    border: 0.5vh inset #0085C9;
    border-radius: 0.4vw;
    gap: 0.7vh;
    margin-bottom: 1.2vh;
}

.test-settings div input{
    width: 11.8vw;
    height: 4vh;
    border-radius: 2vw;
    outline: none;
    border: 0.1vh inset rgb(197, 197, 197);
    text-align: center;
    font-size: 2.4vh;
    box-shadow: 0vw 0.2vh 0.5vh rgb(39, 39, 39); 
}

.test-settings div input::placeholder{
    font-size: 2.4vh;
    color: black;
    opacity: 0.58;
}

.add{
    display: flex;
    justify-content: start;
    gap: 0.7vw;
    height: 5vh;
    width: 53vw;
    margin-bottom: 1.2vh;
}

.add button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    border: 0.1vw inset black;
    background-color: white;
    
}

.add button:hover{
    background-color: rgb(233, 233, 233);
}

.questions-holder{
    display: flex;
    flex-direction: column;
    width: 53vw;
    height: 47vh;
    gap: 1.2vh;
}

.question-background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53vw;
    height: 15.4vh;
    background-color: #0085C9;
    border-radius: 1vh;
    outline: none;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51.7vw;
    height: 12.6vh;
    border-radius: 1vh;
    background-color: white;
    font-size: 2vh;
}

.text-holder{
    width: 53vw;
    display: flex;
    justify-content: start;
    font-size: 3.2vh;
}


#add-question{
    background-color: #14AD2B;
    border: none;
    width: 7.8vw;
    font-size: 2.4vh;
    color: white;
}

#add-question:hover{
    background-color: #168a27;
}

